.title-section 
{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    h1{ 
        flex: 1;
        color: rgba(123, 123 ,124, 1);
    }
    h2{
        flex: 1;
        color: rgba(10, 123 ,124, 1);
    }
}
.encode-decode-section{
    width: 90%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: auto;
    .encode-section{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: inherit;
        flex-flow: row nowrap;
        label{
            color: darkgray;  
            margin-right: 3em; 
            text-align: center;
            
        }
        #text{
            width: 100%; 
            margin-right: 1em;  
                
        }
        #shift{
            width:20%;
        } 
        #btn{
            background: transparent;
            border: 0.1em solid darkgray;
            padding: .5em 2em .5em 2em;
            margin-left: 2em;
        } 
    }
    .encode-result{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        label{
            color: darkgray;  
            flex: 1;  

        }
        #encoded-message{
            margin-left: 2em;
            font-weight: bold;
        }
    }
}