.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.title-section h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #7b7b7c;
}

.title-section h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #0a7b7c;
}

.encode-decode-section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto;
}

.encode-decode-section .encode-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.encode-decode-section .encode-section label {
  color: darkgray;
  margin-right: 3em;
  text-align: center;
}

.encode-decode-section .encode-section #text {
  width: 100%;
  margin-right: 1em;
}

.encode-decode-section .encode-section #shift {
  width: 20%;
}

.encode-decode-section .encode-section #btn {
  background: transparent;
  border: 0.1em solid darkgray;
  padding: .5em 2em .5em 2em;
  margin-left: 2em;
}

.encode-decode-section .encode-result {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.encode-decode-section .encode-result label {
  color: darkgray;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.encode-decode-section .encode-result #encoded-message {
  margin-left: 2em;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */